*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

:root{
    --primary: #141414;
    --primary2: #16151A;
    --secundary: #CFAC80;
    --fontColorBlack: #212427;
    --fontColorWhite: #D4D4D4;
}

body{
    background-color: black;

}

.mainWrapper{
    background-image: url(./assets/frantisek-canik-D7ly5lUDTCY-unsplash\ 1.png);
    height: fit-content;
    background-repeat: no-repeat;
    background-size: cover;
}

.headerMain{
    height: 84px;
    justify-content: space-between;
    display: flex;
    background-color: rgba(255, 255, 255, 0.15);
    padding: 0 128px;
    border-radius: 0 0 20px 20px;
    border-bottom: 1px solid var(--fontColorWhite);
}

.leftContentHeader{
    display: flex;
    align-items: center;
    gap: 32px;
}

.rightContentHeader{
    display: flex;
    align-items: center;
}

.headerLinkContainer{
    display: flex;
    align-items: center;
    gap: 12px;
}

.headerLink{
    color: var(--fontColorWhite);
    font-weight: bolder;
    text-decoration: none;
    font-size: 18px;
    border: 0;
    
}

#iconUsuario{
    width: 28px;
    height: 28px;
}

.logo{
    width: 48px;
}

.headerLink {
    position: relative;
    text-decoration: none;
    cursor: pointer;  
}

.headerLink::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1.5px;
    width: 0; 
    background-color: var(--fontColorWhite);
    transition: width 0.4s ease-in-out;
}

.headerLink:hover::after {
    width: 100%;
}


/* ---- Header acaba aqui ---- */

/* ---- Main começa aqui ---- */

.contentText{
    padding: 100px 128px;
    width: 40%;
}

.contentTittle h1{
    font-size: 4rem;
    color: var(--fontColorWhite);
    margin-bottom: 16px;
}

.contentSubtittle{
    width: 84%;
}

.contentSubtittle h3{
    font-size: 1.2rem;
    color: #DFDFDF;
    font-weight: 100;
    line-height: 1.2;
}

#buttonMain{
    background-color: var(--secundary);
    color: var(--fontColorBlack);
    width: 128px;
    height: 58px;
    font-weight: bold;
    font-size: 22px;
    border-radius: 2px;
    border: none;
    margin: 24px 16px;
    cursor: pointer;
    transition: background-color 0.4s ease-in, color 0.4s ease-in, border 0.4s ease-in;
}

#buttonMain:hover{
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid var(--secundary);
    color: var(--secundary);
}

/* ----mainWrapper acaba aqui---- */

/* ----avaliationWrapper começa aqui---- */

.avaliationWrapper{
    display: flex;
    justify-content: space-around;
    height: 268px;
    background-color: var(--secundary);
    align-items: center;
    padding: 0px 114px;
}

.commentContent{
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 100%;
    margin: 32px;
    background-color: var(--primary);
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.userProfile{
    display: flex;
    height: min-content;
}

.userProfileIcon{
    display: flex;
    height: 32px;
    width: 32px;
    border-radius: 100%;
    background-color: var(--secundary);
    justify-content: center;
    align-items: center;
    margin: 0 8px;
}

.userProfileText{
    display: flex;
    color: var(--primary);
    font-size: 28px;
}

.userProfileName{
    display: flex;
    align-items: center;
    color: var(--fontColorWhite);
    font-size: 18px;
    font-weight: bolder;
}

.commentTextContent{
    width: 80%;
}


.commentTextContent p{
    color: var(--fontColorWhite);
    font-size: 14px;
    text-align: center;
}   

/* ----mainWrapper Acaba Aqui---- */
/* ----CarouselWrapper Começa Aqui---- */

.carouselWrapper{
    background-color: #161616;
    padding: 50px;
}

.carousel-container {
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.carousel-slide {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide img {
    width: 100%;
    border-radius: 10px;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.prev {
    left: 10px;
    width: 38px;
}

.next {
    right: 10px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.dots-container {
    text-align: center;
    margin-top: 10px;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 5px;
    background-color: #525252;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.active {
    background-color: var(--secundary);
}

.footerLanding{
    background-color: var(--primary);
    height: 40vh;
    padding: 64px 5vw;
}

.wrapperFooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    border-top: 2px solid var(--secundary);
    border-bottom: 2px solid var(--secundary);
    padding: 0 5vw;
}

.leftFooterContent{
    margin: 64px;
    display: flex;
    align-items: center;
    height: 100%;
}

#logoFooter{
    height: 60%;
}

.rightFooterContent{
    display: flex;
    flex-direction: column;
}

.footerText{
    color: var(--secundary);
}

.contactUsContent{
    margin-bottom: 32px;
}

.locationContent{
    margin: 16px 0;
    gap: 8px;
    display: flex;
}

.telContent{
    margin: 16px 0;
    gap: 8px;
    display: flex;
}

.socialMediaContent{
    display: flex;
    margin: 32px;
    gap: 16px;
}

.socialMediaIcons{
    height: 16px;
    width: 16px;
    margin-left: 8px;
}

#spanFooterText{
    margin-bottom: 8px;
}